<!DOCTYPE html>
<html>
    <body>
        <head>
        
        <title><%= title%></title>

    </head></body><h1>
        this is about us section
    </h1>
    <a href="/">Home</a>
</body>
</html>