<!DOCTYPE html>
<html lang="en">
<head>

    <title><%= title %></title>
    <body>
        <h1>Welcome <%= name %></h1>
        <p>This is home & SITE IS UNDER DEVELOPMENT.</p>
        <a href=".about.ejs">Go to about page</a>
        <a href="./contact.ejs">Go to contact page</a>

        <!-- why ./ we use ?
        because these files are in the same folder -->


    </body> 
</html>