<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        ul {
            list-style: none;
            border: 2px solid turquoise;
            padding: 15px;
            width: 250px;
        }

        li {
            padding: 5px 0;
        }
    </style>
</head>

<body>

    <h3>This is my About Us section</h3>

    <p>This site is under development</p>

    <p>Services on this platform are:</p>

    <ul>
        <li>SEO Optimization</li>
        <li>Web Development</li>
        <li>UI/UX Design</li>
        <li>AI Integration</li>
    </ul>

</body>
</html>